/*共通設定*/
@charset "utf-8";
*{
    box-sizing: border-box;
}
body{
    background-color: #b9f3fb5f;
}

ul{
    list-style: none;
    padding: 0%;
}

li{
    text-align: center;
}

ul.header-nav-list{
    background-color: aquamarine;
    padding: 0%;
    text-align: center;
}

ul.header-nav-list li{
    display: inline-block;
    font-weight: bold;
}

ul.header-nav-list li a{
    display: block;
    padding: 1em;
    color: #000000;
    text-decoration: none;
}

h2{
    text-align: center;
}

.ACCESS{
    display: flex;
}

.yupika{
    display: flex;
}

p{
    text-align: right;
}
img{
    display: block;
    width: 50%;
}

.morinoyu {
    display: flex;
    background-color: rgb(30, 255, 0);
}
.morinoyu p{
    text-align: right;
}

.mizubenoyu{
    display: flex;
    background-color: mediumturquoise;
}

.footer{
    background-color: green;
    text-align: center;
}
.information p{
    text-align:center;
}