/*共通設定*/
@charset "utf-8";
*{
    box-sizing: border-box;
}

body {
    background-color: #FFF9E8;
}
main {
    padding-top: 120px;
}
a {
    text-decoration: none;
}


/* ナビゲーション */
.nav-container{
    position: fixed;
    width: 100%;
    background-color: #FFF9E8;
}
.header-nav a{
    color: orange;
}
.header-nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    border-bottom: solid 1px;
}
.header-nav-list li a {
    color: orange;
    padding: 0 20px;
}
.header-nav-list li + li {
    margin-left: 100px;
}


/* メイン */
.self-introduction {
    text-align: center;
    margin: 200px 0;
}

.HTML{
    color: #ab64c3;
}
.CSS{
    color: #72cf93;
}
.Agile{
    color: #bbc731;
}
.kotira{
    text-align: center;
}
.manabi {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-left: 70px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5em;
    padding-bottom: 0;
}
 
.rokuhati h2{
    text-align: center;
}
.rokuhati img{
    height: 300px;
    width: 1400px;
}
.rokuhati p{
    font-size: 1.2em;
    font-weight: 700;
}
.rokuhati h3{
    font-size: 1.5em;
    font-weight: 700;
}
.zenbu{
    padding: 50px;
}


.grid-container-item{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding-right: 300px;
    
}

.grid-container{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5em;
}

div.item-img{
    height: 50%;
    display: flex;
}

img{
    display: inline-block;
    width: 80%;
    margin: 40;
}

.item-p p{
    padding-top: 50px;
    color: pink;
    font-size: 1.5em;
    font-weight: 700;
}

.tyarennzi68{
    color: pink;
}

.HTML{
    width: 90%;
    height: 400px;
    border-width: 0px 1px 0 1px;
    border-style: solid;
    background-color: white;
    padding-top: 110px;
}
.CSS{
    width: 90%;
    height: 400px;
    border-width: 0px 1px 0 1px;
    border-style: solid;
    background-color: white;
    padding-top: 110px;
}
.Agile{
    width: 90%;
    height: 400px;
    border-width: 0px 1px 0 1px;
    border-style: solid;
    background-color: white;
    padding-top: 110px;
}

.HTML h2{
    color: purple;
}
.HTML p{
    color: #000000;
}
.CSS h2{
    color: green;
}
.CSS P{
    color: #000000
}
.Agile h2{
    color: #69b076
}
.Agile p{
    color: #000000;
}


/* フッター */
.table-container{
    width: 100%;
    padding: 70px;
    padding-left: 200px;
    background-color: white;
    text-align: left;
    border-top: solid 1px;
}
th{
    font-weight: bold;
    font-size: 100%;
    padding: 10px 10px 10px 0;
}
td{
    font-size: 100%;
    font-weight: bold;
}

/* スキル */
.top{
    padding-top: 0;
    padding-bottom: 50px;
    margin-left: 60px;
}
.HTML-text{
    padding: 40px;
    margin-left: 20px;
}
.CSS-text{
    padding: 40px;
    margin-left: 20px;
}
.AGIlE{
    padding: 40px;
    margin-left: 20px;
}
.HTML-text h2{
    color: purple;
}
.CSS-text h2{
    color: green;
}
.AGIlE h2{
    color: #69b076;
}
.hr{
    color: #000000;
}


/* contact */
.form {
    width: 950px;
    margin: 0 auto;
    padding: 60px 0;
}
.form-item{
    display: flex;
}
.form-text{
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-top{
    padding: 30px 30px 30px 0;
}
.username{
    width: 90px;
    height: 25px;
    text-align: center;
    border-radius: 6px;
}
.submitsousin{
    font-size: 20px;
    width: 220px;
    height: 45px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 6px;
    text-align: center;
}
.form-submit{
    padding-left: 380px;
}
span{
    color: white;
}
textarea{
    background-color: white;
    width: 960px;
    height: 300px;
}
input {
    width: 960px;
    height: 30px;
    background-color: white;
}


